.notification-error{
	display: none;
	color:rgb(245, 85, 5);
}
.top-page{
	color: #111418; 
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}
.criterion-text{
	color: #111418; 
	padding-right: 10px;
	padding-left: 10px;
	width: 80%;
}
.art-content .art-postcontent-0 .layout-item-0 {
    margin-bottom: 3px;
}
.breadcrumbs{
	text-align: right;
}
.breadcrumbs span{
	color: rgb(41, 14, 0);
	font-family: Tahoma;
	font-size: 13px; 
	-webkit-border-horizontal-spacing: 1px;
}
.breadcrumbs span a span{
	font-style: italic;
	color: rgb(41, 14, 0);
}
.diagnosis-name-top{
	vertical-align: super;
}
.diagnosis-name-top span{
	color: rgb(245, 85, 5);
	font-family: 'Comic Sans MS'; 
	font-size: 28px; 
	font-weight: bold; 
	text-shadow: rgba(23, 23, 23, 0.808594) 0px -1px 0px;
}
.criteria-title{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; line-height: 28px;
	color: #3B536D; 
	font-weight: bold; 
	font-size: 20px;
    margin-left: 10px;
}
.layout-criteria-title-div{
    margin-bottom: 10px;
}
.criteria-title-div{
	margin-bottom: 10px;
/*    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-top-color: #9FB4CB;
    border-right-color: #9FB4CB;
    border-bottom-color: #9FB4CB;
    border-left-color: #9FB4CB;*/
    color: #111418;
    border-spacing: 10px 0px;
    border-collapse: separate;
    color: #111418;
    width: 100%;
    border:none;
}
.criteria-master-divider{
    border-top-width: 2px;
    border-top-style: Groove;
    border-top-color: #7493B4;
    margin-top: 10px;
    margin-bottom: 10px;
}
.border-div { 
/*	border-top-width:2px;
	border-top-style:solid;
*/	border-top-color:#9FB4CB;
	margin-top: 10px;
	margin-bottom: 10px;  
}
.border-div.level-0{
    border-top-width:2px;
    border-top-style:solid;
}
.border-div.level-1.first{
    border-top-width: 2px;
    border-top-style: Solid;
    border-top-color: #98AFC8;
    margin-right: 35px;
    margin-left: 35px;
}
.border-div.level-1.no-first{
    border-top-width: 1px;
    border-top-style: Solid;
    border-top-color: #98AFC8;
    margin-right: 50px;
    margin-left: 50px;
}
.border-div.level-2.first{
    border-top-width: 1px;
    border-top-style: Dotted;
    border-top-color: #98AFC8;
    margin-right: 50px;
    margin-left: 50px;
}
.border-div.level-2.no-first{
    border-top-width: 1px;
    border-top-style: Dotted;
    border-top-color: #98AFC8;
    margin-right: 50px;
    margin-left: 50px;
}
.art-content .art-postcontent-0 .criteria-item{
	border-spacing: 10px 0px;
    border-collapse: separate;
    /*margin-bottom: 10px;*/
}
.criteria-num{
	width: 6%;
	border-right-style: Ridge;
    border-right-width: 1px;
    border-right-color: #FFE7DB;
    color: #090A0C;
    background: #FFC5A8;
    background: rgba(255, 197, 168, 0.3);
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
}
.criteria-num-1{
    opacity: 0.7;
}
.criteria-num-2{
    opacity: 0.5;
}
.criteria-num-3{
    opacity: 0.3;
}
.criterion-answers, .specifier-as-criteria-answers{
	width: 14%;
	border: 1px solid #D8DEE4;;
    border-color: #D8DEE4;
    color: #0B0D0F;
    background: #F7F7F8 url(images/d955f.png) scroll;
    padding: 2px;
    vertical-align: top;
    border-radius: 5px;
    text-align: center;
    user-select:none;
}
.hidden-input{
	display: none;
}
.art-content .art-postcontent-0 .specifiers-answers a.art-button.chosen,
.art-content .art-postcontent-0 .criteria-item .criterion-answers a.art-button.chosen,
.art-content .art-postcontent-0 .specifiers-rated a.art-button.chosen,
.art-content .art-postcontent-0 .substunce-specifiers-answers a.art-button.chosen,
#myModal a.art-button.chosen{
	border-width: 2px;
    background: rgba(255, 197, 168, 0.3);
    border-style: solid;
    border-color: #FF8F57;
}
.popup-art-main a.art-button.popup-chosen{
    border-width: 2px;
    background: rgba(255, 197, 168, 0.3);
    border-style: solid;
    border-color: #FF8F57;    
}
.container .art-postcontent  a.art-button:hover,
#myModal .art-postcontent a.art-button:hover{
    text-decoration: none; !important;
    border-style: solid;
}
/*.art-content .art-postcontent-0  .specifiers-answers a.art-button,
.art-content .art-postcontent-0 .criteria-item .criterion-answers a.art-button:hover{
    border-width: 2px;
    background: rgba(255, 197, 168, 0.3);
}*/
.specify-name{
	-webkit-border-horizontal-spacing: 10px; 
	font-weight: bold; 
	font-style: italic;
	font-size: 20px; 
	line-height: 28px; 
	color: rgb(59, 83, 109);
}
.specify-explanation{
	-webkit-border-horizontal-spacing: 20px;
    color: rgb(114, 135, 157);
    font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
a.art-button.probable_possible{
	margin-bottom: 12px !important;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: block;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    /*animation-duration: 0.4s*/
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
    /*color: #aaa;*/
    float: right;
    clear: both;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
/*.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}*/

/* Modal Body */
.modal-body {padding: 16px 16px;}

/* Modal Footer */
.modal-footer,.modal-header {
    padding: 10px;
    background-color: #FFE7DB;
    color: black;
    text-align: center;
    /*height: 2%;*/
}

/* Modal Content */
.modal-content {
    /*position: relative;*/
    background-color: #fefefe;
    /*margin: auto;*/
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*animation-name: animatetop;*/
    /*animation-duration: 0.4s*/
}
.modal-footer .close{
	float: none;
    color: black;
    font-size: 18;
    font-weight: normal;
}
/*#other-popup{
    display: none;
    padding: 0;
    background-color: #F5F5F5;
}*/
.other-popup-content article.art-post.art-article{
    padding: 0;
}
.other-popup-content .art-layout-wrapper{
    margin:0;
}
.other-popup-content.art-sheet{
    /*background: #FFFFFF url(images/sheet.png) scroll;*/
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #FF661A;
    margin: 20px auto 0;
    position: relative;
    cursor: auto;
    width: 500px;
    z-index: auto !important;
    border: 1px solid #FF661A;
    display: block;
    padding: 0;
    background-color: #FEFEFE;

}
.other-popup-content.art-sheet .layout-item-0{
    border-style: Solid;
    border-width: 0px;
    border-color: #F5F7FA;
    color: #0B0D0F;
    background: #FFE4D6;
    background: rgba(255, 228, 214, 0.6);
    border-collapse: separate;
    line-height: 150%;
}   
textarea.other-input {
    padding: 5px;
    border-radius: 5px;
    resize: none;
    height: 120px;
    background: #FFFFFF !important;
    width: 100%;
}
.other-textarea{
    margin: 25px 25px 0px 25px;
}
.other-popup-content .square-div{
    border-top-width: 2px;
    border-top-style: Ridge;
    border-top-color: #FF8F57;
}
.other-popup-content .other-header{
    background: rgba(255, 228, 214, 0.6);
    margin-bottom: 0;
}
.other-popup-content .art-postcontent p{
    margin: 12px 0 12px 5px;
}
.other-popup-content .other-links{
    margin: 0 25px 0 25px;
}
.other-popup-content .other-buttons{
    margin: 0 15px 15px 15px;
}
.other-popup-content .other-divider{
    border-top:  1px solid #D8DEE4;
}
.other-popup-content .close{
    float: none;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    z-index: 1;
/*    bottom: 125%;
    left: 50%;
*/    bottom: 60px;
    margin-left: 37px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
#art-main ul.history{
    font-size: 13px;
    padding-top: 10px;
}
ul.history p{
    font-size: 16px;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip.with_content:hover .tooltiptext {
    visibility: visible;
}
.art-content .art-postcontent-0 .bottom-divider { 
    border-top-width:2px;
    border-top-style:Ridge;
    border-top-color:#7493B4;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;  
}
.art-content .art-postcontent-0 .layout-continue-div { 
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-width:0px;
    border-top-color:#9FB4CB;
    border-right-color:#9FB4CB;
    border-bottom-color:#9FB4CB;
    border-left-color:#9FB4CB;
    color: #111418;
    border-spacing: 20px 10px;
    border-collapse: separate;  
}
.art-content .art-postcontent-0 .continue-div { 
    color: #0B0D0F;
    background: #F7F7F8 url('images/ad4c7.png') scroll;
    background: rgba(247, 247, 248, 0.6) url('images/ad4c7.png') scroll;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    vertical-align: middle;  
}
.art-content .art-postcontent-0 .layout-menu-buttons { 
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-width:0px;
    border-top-color:#9FB4CB;
    border-right-color:#9FB4CB;
    border-bottom-color:#9FB4CB;
    border-left-color:#9FB4CB; 
    background: ; 
    border-spacing: 10px 0px; 
    border-collapse: separate;  
}
.art-content .art-postcontent-0 .menu-buttons { 
    color: #111418; 
    padding-right: 10px;
    padding-left: 10px; 
    vertical-align: middle;  
}

.art-content .art-postcontent-0 .diagnosis-divider { 
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#9FB4CB;
    margin-top: 10px;
    margin-bottom: 10px;  
}
.info-note-popup{
    display: block;
    width: 800px;
    background-color: #FEFEFE;
    font-size: 16px;
    padding: 40px 30px 20px 30px;
    margin: 20px auto 20px auto;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    letter-spacing: 1px;
    line-height: 150%;
    box-shadow: 0px 0px 10px 2px;
}
#info-popup{
    display: none;
}
#note-popup{
    display: none;
}
.menu-buttons .with_content{
    cursor: pointer;
}
#validation-error{
    display: none;
}
#other-popup{
    display: none;
}
.popup-art-main{
    background: #FFFFFF;
    margin: 20px auto 20px auto;
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 125%;
    position: relative;
    width: 100%;
    /*min-height: 100%;*/
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
    width: 929px;
    box-shadow: 0px 0px 10px 2px;
    

/*    width: 929px;
    background-color: #FFFFFF;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 125%;
    position: relative;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;*/
}
.popup-art-main .art-sheet{
    width: 929px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin-top: -116px;
    margin-left: -45px;
    /*background-color: gray;*/
}

.art-postcontent .dropdown-content a, .art-postcontent .dropdown-content a:visited{
    /*color: rgb(245, 85, 5);*/
    /*rgb(89, 105, 120);*/
    color: #A33600;
    padding: 4px 15px;
    text-decoration: none;
    display: block;
    font-size:13px;
    border-bottom: 1px solid #FFF;
    border: 1px solid #9FB4CB;
    margin-top:-1px;
    font-weight: bold;
}

.dropdown-content a.active-menu:hover, .dropdown-content a.gray-menu:hover{
    text-decoration: none;
}
.art-postcontent .dropdown-content.dropdown-content a.gray-menu,
.art-postcontent .dropdown-content a.gray-menu:hover,
.art-postcontent .dropdown-content a.gray-menu:visited,
.art-postcontent .dropdown-content a.gray-menu:active{
    color:#AAA;
    cursor: default;
}
.dropdown-content a.active-menu:hover {
    background-color: #f1f1f1;
}
.art-postcontent .dropdown-content a.active-menu,
.art-postcontent .dropdown-content a.active-menu:hover,
.art-postcontent .dropdown-content a.active-menu:visited,
.art-postcontent .dropdown-content a.active-menu:active{
    /*color:rgb(245, 85, 5);*/
    cursor: pointer;
    color: #A33600;

}

/*.dropdown:hover .dropdown-content {
    display: block;
}*/
.menu-icon{
    float: right;
}
.menu-icon.sigma-icon{
    font-size: 30px;
}
.popup-close{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
p:has(>span.popup-close){
    text-align: center;
}
.formal-item{
    border-bottom: 1px solid #D8DEE4;
}
a.art-button{
    user-select:none;
}
.close-btn{
    background-image: url(images/close-popup.png);
    float: right;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    margin-top: -36px;
    margin-right: -18px;
    cursor: pointer;
}
.close-bottom{
    text-align: center;
    margin-top: 28px;
    background-image: url(images/0864d.png);
    cursor: pointer;
}
.close-bottom p a.art-button{
    margin: 8px !important;
}
body.modal-open {
    overflow: hidden;
}
.popup-art-main .close-btn{
    position: absolute;
    right: -3px;
    top: -10px;
    margin:0;
}
.popuptext .close-popup{
    float: right;
    clear: both;
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
    margin-right: -5px;
    line-height: 0.6;
}
.popuptext .content{
    float: right;
}
.general-present-rows{
    margin-top: 15px;
}
a.sub-criterion-button{
-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    padding: 0 7px;
    
}
a.art-button.sub-criterion-button:hover{
    padding: 0 7px;
}
.sub-specifiers{
    margin: 10px 20px auto 20px;
}
input[type="text"].substance-input{
    width: auto;
}
.art-article table.formals{
        width: 100%;
        font-size: 14px;

}
.art-article table.formals td.code{
        width: 11%;

}
.formals-separate{
    border-bottom: 1px dotted #667D93;
}
.art-article table.formals td{
    border:0;
}
.clinitian_rated{
    margin-top: 30px;
}
.art-content .art-postcontent-0 .clinitian-rated{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.replace-patient{
    margin-top: 10px;
}
.replace-patient span{
    font-size: 10px;
    font-style: italic;
    margin-bottom: 10px;
}
#patient_input{
    height: 21px;
    width: 105px;
    font-size: 12px;
}
.columns-border{
    border-top: 1px Dotted #9FB4CB !important;
}
.prob_pos_content{
    border-style:Solid;
    border-width:0px;
    border-color:#B7C2CD;
    color: #0B0D0F; 
    background: #E1E5EA; 
    border-spacing: 9px 9px !important; 
    border-collapse: separate !important; 
    border-radius: 10px;
}
.prob-pos-name{
/*    width: 75%*/
    color: #0B0D0F; 
    background: ; 
    padding: 5px; 
    vertical-align: top; 
    border-radius: 3px;
}
.prob-pos-buttons{
    width: 25%
    border-left-style:Solid;
    border-left-width:1px;
    border-left-color:#D8DEE4; 
    color: #0B0D0F; 
    background: #E4EAF1 url('images/2f41a.png') scroll; 
    padding: 5px; 
    vertical-align: top; 
    border-radius: 3px;
}
.prob-pos-wrapper{
    margin-top: 0px;margin-right: 35px;margin-bottom: 0px;margin-left: 25px;
}
.prob-pos-crit{
    background: #E1E5EA;
}